<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/style.css" />
    <title>Foody</title>
  </head>
  <body>
    <!-- START NAVBAR -->
    <div class="navbar">
      <h1>Foody</h1>
      <nav>
        <ul>
          <li>Home</li>
          <li>Search</li>
          <li>Orders</li>
          <li>Account</li>
        </ul>
      </nav>
    </div>
    <!-- END NAVBAR -->
    <h1>Welcome to Foody</h1>
  </body>
</html>
