* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'RocknRoll One', sans-serif;
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  color: white;
  font-size: 1rem;
  background-color: #303030;
  position: sticky;
  top: 0;
}

nav {
  width: 100%;
  max-width: 80%;
  margin-top: 2rem;
}

nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.nav-link {
  display: inline-block;
  font-size: 1.5rem;
  border: 1px solid white;
  padding: 1rem;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  cursor: pointer;
  transition: all 0.1s;
}

.nav-link:hover {
  background-color: white;
  color: #303030;
}

.nav-link.active {
  background-color: white;
  color: #303030;
}

main {
  font-size: 2rem;
}

.restaurant-list {
  display: flex;
  flex-direction: column;
  margin: 2rem;
}

.restaurant-card {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 100%;
  max-width: 90%; */
  border: 1px solid #eeee;
  background-color: #f5f6fa;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
}

.inner-card {
  margin: 2rem;
}

.inner-card .logo {
  height: 360px;
  border-radius: 5px;
  object-fit: cover;
  width: 100%;
}
